Repository hiroppy/web-app-template: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier, prisma

biome:
  run: 'npx biome check --write --no-errors-on-unmatched {staged_files}
  
    '
  stage_fixed: true

prettier:
  run: 'npx prettier --experimental-cli -w {staged_files}
  
    '
  stage_fixed: true

prisma:
  run: 'npx prisma format {staged_files}
  
    '
  stage_fixed: true

refactor(stripe): clean up
  .internal/setup/questions/stripe.mjs
  .internal/site/src/features/stripe.md
  .internal/tests/common.test.mjs.snapshot
  .internal/tests/no-e2e.test.mjs.snapshot
  .internal/tests/no-otel.test.mjs.snapshot
  .internal/tests/no-sample-code.test.mjs.snapshot
  README.md
  src/app/(private)/me/payment/page.tsx
  src/app/_actions/items.ts
  src/app/_actions/payment.test.ts
  src/app/_actions/payment.ts
  src/app/_actions/users.ts
  src/app/_clients/stripe.ts
  src/app/_components/Payment.tsx
  src/app/_utils/payment.ts
  src/app/api/payment/success/route.test.ts
  src/app/api/payment/success/route.ts
Due: biome, prettier

refactor(stripe): clean up (#750)
  .internal/setup/questions/stripe.mjs
  .internal/site/src/features/stripe.md
  .internal/tests/common.test.mjs.snapshot
  .internal/tests/no-e2e.test.mjs.snapshot
  .internal/tests/no-otel.test.mjs.snapshot
  .internal/tests/no-sample-code.test.mjs.snapshot
  README.md
  src/app/(private)/me/payment/page.tsx
  src/app/_actions/items.ts
  src/app/_actions/payment.test.ts
  src/app/_actions/payment.ts
  src/app/_actions/users.ts
  src/app/_clients/stripe.ts
  src/app/_components/Payment.tsx
  src/app/_utils/payment.ts
  src/app/api/payment/success/route.test.ts
  src/app/api/payment/success/route.ts
Due: biome, prettier

test(internal): fix snapshot
  .internal/create-app-foundation/package.json
  .internal/setup/common-processing.mjs
  lefthook.yml
  package.json
Due: biome, prettier

test(internal): fix snapshot (#792)
  .internal/create-app-foundation/package.json
  .internal/setup/common-processing.mjs
  lefthook.yml
  package.json
Due: biome, prettier

fixup! refactor: clean up
  .dockerignore
  Dockerfile
  env.ts
Due: biome

fixup! fixup! refactor: clean up
  .github/workflows/ci.yml
Due: prettier

refactor: clean up
  .internal/tests/common.test.mjs.snapshot
  package.json
  prisma/schema/ERD.md
Due: biome, prettier

wip
  .env.sample
  .internal/setup/db.mjs
  .internal/setup/questions/otel.mjs
  .internal/tests/common.test.mjs.snapshot
  .internal/tests/no-docker.test.mjs.snapshot
  .internal/tests/no-e2e.test.mjs.snapshot
  .internal/tests/no-otel.test.mjs.snapshot
  .internal/tests/no-sample-code.test.mjs.snapshot
  .internal/tests/no-stripe.test.mjs.snapshot
  compose.yml
  env.ts
  next.config.ts
  otel-collector-config.yml
  package.json
  pnpm-lock.yaml
  prisma/schema/ERD.md
  src/app/(private)/me/_components/UpdateMyInfo.tsx
  src/app/_actions/items.ts
  src/app/_actions/users.ts
  src/app/_clients/sentry.ts
  src/app/_providers/Sentry.tsx
  src/app/_utils/auth.ts
  src/app/_utils/sentry.ts
  src/app/global-error.tsx
  src/app/layout.tsx
  src/instrumentation-client.ts
  src/instrumentation.ts
  src/otel/instrumentations.ts
  src/otel/node.ts
  src/sentry.edge.config.ts
  src/sentry.server.config.ts
Due: biome, prettier

chore(docker): add volume
  .internal/tests/common.test.mjs.snapshot
  .internal/tests/no-otel.test.mjs.snapshot
  compose.yml
Due: prettier

fixup! refactor: use better-auth instead of next-auth
  e2e/fixtures.ts
  e2e/helpers/users.ts
  e2e/setup/auth.ts
Due: biome

fixup! chore(deps): update node.js to v22.21.0
  .internal/tests/common.test.mjs.snapshot
  .internal/tests/no-otel.test.mjs.snapshot
  .internal/tests/no-stripe.test.mjs.snapshot
Due: none

fixup! chore(deps): update postgres docker tag to v18
  .internal/tests/common.test.mjs.snapshot
  .internal/tests/no-otel.test.mjs.snapshot
  e2e/models/TopPage.ts
Due: biome

test(e2e): wait for element
  .internal/create-app-foundation/src/index.mjs
  .internal/tests/common.test.mjs.snapshot
  e2e/models/TopPage.ts
Due: biome

fixup! chore(deps): update nextjs monorepo to v16
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/proxy.test.ts
  src/proxy.ts
  tsconfig.json
Due: biome

fixup! fixup! chore(deps): update nextjs monorepo to v16
  src/app/(private)/me/page.tsx
  src/app/(private)/me/payment/page.tsx
  src/app/(public)/items/[itemId]/page.tsx
  src/app/layout.tsx
Due: biome

refactor: use LayoutProps in group layout
  src/app/(private)/layout.tsx
  src/app/(public)/layout.tsx
Due: biome

refactor: clean up
  .env.sample
  .internal/setup/db.mjs
  .internal/setup/questions/otel.mjs
  .internal/tests/common.test.mjs.snapshot
  .internal/tests/no-docker.test.mjs.snapshot
  .internal/tests/no-e2e.test.mjs.snapshot
  .internal/tests/no-otel.test.mjs.snapshot
  .internal/tests/no-sample-code.test.mjs.snapshot
  .internal/tests/no-stripe.test.mjs.snapshot
  compose.yml
  env.ts
  next.config.ts
  otel-collector-config.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app/(private)/me/_components/UpdateMyInfo.tsx
  src/app/_actions/users.ts
  src/app/_clients/sentry.ts
  src/app/_providers/Sentry.tsx
  src/app/_utils/auth.ts
  src/app/_utils/sentry.ts
  src/app/global-error.tsx
  src/app/layout.tsx
  src/instrumentation-client.ts
  src/instrumentation.ts
  src/otel/instrumentations.ts
  src/otel/node.ts
  src/sentry.edge.config.ts
  src/sentry.server.config.ts
Due: biome, prettier

Revert "chore(deps): update postgres docker tag to v18 (#804)"
  .internal/tests/common.test.mjs.snapshot
  .internal/tests/no-otel.test.mjs.snapshot
  compose.yml
Due: prettier

Revert "chore(deps): update postgres docker tag to v18 (#804)" (#839)
  .internal/tests/common.test.mjs.snapshot
  .internal/tests/no-otel.test.mjs.snapshot
  compose.yml
Due: prettier

chore(compose): disable mount
  compose.yml
Due: prettier

fixup! chore(deps): update node.js to v24
  .internal/tests/common.test.mjs.snapshot
  .internal/tests/no-otel.test.mjs.snapshot
  .internal/tests/no-stripe.test.mjs.snapshot
Due: none

fixup! fixup! chore(deps): update node.js to v24
  .internal/tests/common.test.mjs.snapshot
  .internal/tests/no-otel.test.mjs.snapshot
Due: none

fixup! chore(deps): update dependency vitest to v4
  src/middleware.test.ts
Due: biome

fixup! fixup! chore(deps): update dependency vitest to v4
  .internal/tests/common.test.mjs.snapshot
Due: none

fixup! fixup! fixup! chore(deps): update dependency vitest to v4
  .internal/tests/no-sample-code.test.mjs.snapshot
Due: none

fixup! chore(deps): update postgres docker tag to v18
  .internal/tests/common.test.mjs.snapshot
  .internal/tests/no-otel.test.mjs.snapshot
Due: none

chore(ts): update tsconfig
  tsconfig.json
Due: biome

test: update
  .internal/tests/common.test.mjs.snapshot
  .internal/tests/no-docker.test.mjs.snapshot
  .internal/tests/no-e2e.test.mjs.snapshot
  .internal/tests/no-otel.test.mjs.snapshot
  .internal/tests/no-stripe.test.mjs.snapshot
Due: none

rename
  .internal/setup/questions/sample-code.mjs
  .internal/site/src/features/next-auth.md
  .internal/site/src/features/nextjs.md
  src/proxy.test.ts
  src/proxy.ts
Due: biome, prettier

fixup! rename
  .internal/site/src/features/nextjs.md
  .internal/tests/common.test.mjs.snapshot
  .internal/tests/no-sample-code.test.mjs.snapshot
  .internal/tests/no-stripe.test.mjs.snapshot
Due: prettier

fixup! fixup! rename
  .internal/site/package-lock.json
  .internal/site/src/features/stripe.md
  .internal/site/src/introduction/routing.md
Due: biome, prettier

fix: rename middleware to proxy (#867)
  .internal/setup/questions/sample-code.mjs
  .internal/site/package-lock.json
  .internal/site/src/features/next-auth.md
  .internal/site/src/features/nextjs.md
  .internal/site/src/features/stripe.md
  .internal/site/src/introduction/routing.md
  .internal/tests/common.test.mjs.snapshot
  .internal/tests/no-sample-code.test.mjs.snapshot
  .internal/tests/no-stripe.test.mjs.snapshot
  src/proxy.test.ts
  src/proxy.ts
Due: biome, prettier

Path conditions:
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  prettier: any of: *.{md,yml}
  prisma: any of: *.prisma
